@inherits System.Web.Mvc.WebViewPage<RazorCart.AdminConsole.Models.CouponModel>
@using System.Web.Mvc.Html;

<!-- DataTables CSS -->
<link href="@Href("~/DesktopModules/RazorCart/AdminConsole/Styles/dataTables.bootstrap.css?v=" + Model.ProductVersion)" rel="stylesheet" type="text/css" />
<link href="@Href("~/DesktopModules/RazorCart/AdminConsole/Styles/dataTables.responsive.css?v=" + Model.ProductVersion)" rel="stylesheet" type="text/css" />
<!-- DataTables JavaScript -->
<script src="@Href("~/DesktopModules/RazorCart/AdminConsole/Scripts/jquery.dataTables.min.js?v=" + Model.ProductVersion)" type="text/javascript"></script>
<script src="@Href("~/DesktopModules/RazorCart/AdminConsole/Scripts/dataTables.bootstrap.min.js?v=" + Model.ProductVersion)" type="text/javascript"></script>
<script src="@Href("~/DesktopModules/RazorCart/AdminConsole/Scripts/dataTables.responsive.min.js?v=" + Model.ProductVersion)" type="text/javascript"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Coupon Setup</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" method="post" action="@Url.Action("Code", "Coupon", new { StoreID = Model.StoreID })" autocomplete="off">
            @Html.Partial("_CouponMenu")
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="btn btn-primary pull-right" href="@Url.Action("AddCode", "Coupon", new { StoreID = Model.StoreID })">
                                        <i class="fa fa-plus"></i> Add Coupon
                                    </a>
                                    <h4>Store Coupons</h4>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <table class="table table-hover" id="tblCoupons" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Coupon Code</th>
                                                <th>Coupon Name</th>
                                                <th>Coupon Amount</th>
                                                <th>Discount Percentage</th>
                                                <th>Shipping Amount</th>
                                                <th>Active</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.form -->
    </div>
</div>
<!-- /.row -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblCoupons').DataTable({
            responsive: true,
            language: {
                infoFiltered: '',
            },
            lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
            columns: [
                { data: 'CouponCode' },
                { data: 'CouponName' },
                { data: 'CouponAmount', render: $.fn.dataTable.render.number('@(Model.GroupSeparator)', '@(Model.DecimalSeparator)', @(Model.DecimalDigits), '@(Model.CurrencySymbol)') },
                { data: 'DiscountPercent', render: $.fn.dataTable.render.number('@(Model.GroupSeparator)', '@(Model.DecimalSeparator)', @(Model.DecimalDigits), '', '@(Model.PercentSymbol)') },
                {
                    data: 'CouponShipping', render: function (data, type, full, meta) {
                        return data > -1 ? $.fn.dataTable.render.number('@(Model.GroupSeparator)', '@(Model.DecimalSeparator)', @(Model.DecimalDigits), '@(Model.CurrencySymbol)').display(data) : 'N/A';
                    }
                },
                {
                    data: 'Active', render: function (data, type, full, meta) {
                        return '<i class="fa fa-' + (data ? 'check-circle' : 'circle-thin') + ' fa-lg" aria-hidden="true"></i>';
                    }
                },
                {
                    data: 'CouponID', render: function (data, type, full, meta) {
                        var editUrl = '@Url.Action("EditCode", "Coupon", new { StoreID = Model.StoreID })' + '?CouponID=' + data;
                        var deleteUrl = '@Url.Action("DeleteCode", "Coupon", new { StoreID = Model.StoreID })' + '?CouponID=' + data;
                        return '<a href="' + editUrl + '"><i class="fa fa-pencil-square-o fa-lg"></i></a>' + '\n'
                            + '<a href="' + deleteUrl + '" onclick="return confirm(\'Are you sure?\')"><i class="fa fa-trash-o fa-lg"></i></a>';
                    }, className: 'text-right'
                }
            ],
            processing: false,
            serverSide: true,
            searching: true,
            ordering: false,
            ajax: '@Url.Action("ListCodes", "Coupon", new { StoreID = Model.StoreID })'
        });
    });
</script>