@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<RazorCart.ProductGrid.Models.PagerModel>

<!-- This Hidden Div Is Only For SEO Purposes, Since Crawlers cannot execute Javascript -->
<div ng-hide="true">
    @if (Model.PageCount > 1)
    {
        <a rel="start first begin" href="@(Model.CurrentPage == 1 ? "" : string.Format(Model.PagingURL, 1))" target="_self">
            First Page
        </a>
        <a rel="prev" href="@(Model.CurrentPage == 1 ? "" : string.Format(Model.PagingURL, Model.CurrentPage - 1))" target="_self">
            Previous page
        </a>
        for (int i = Model.StartPage; i < Model.EndPage; i++)
        {
            <a href="@(Model.CurrentPage == (i + 1) ? "" : string.Format(Model.PagingURL, i + 1))" target="_self">
                @(Model.CurrentPage == (i + 1) ? "Current Page" : "Page " + (i + 1))
            </a>
        }
        <a rel="next" href="@(Model.CurrentPage == Model.PageCount ? "" : string.Format(Model.PagingURL, Model.CurrentPage + 1))" target="_self">
            Next Page
        </a>
        <a rel="last end" href="@(Model.CurrentPage == Model.PageCount ? "" : string.Format(Model.PagingURL, Model.PageCount))" target="_self">
            Last Page
        </a>
    }
</div>
<nav ng-if="grid.pageCount > 1">
    <ul class="pagination">
        <li ng-class="{'disabled': $root.currentPage === 1}">
            <a aria-label="go to first page" ng-href="{{$root.currentPage === 1 ? '' : '@Model.PagingURL'.replace('{0}', 1)}}"
               ng-click="!($root.currentPage === 1) && grid.goToPage($event, 1)">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-class="{'disabled': $root.currentPage === 1}">
            <a aria-label="go to previous page" ng-href="{{$root.currentPage === 1 ? '' : '@Model.PagingURL'.replace('{0}', $root.currentPage - 1)}}"
               ng-click="!($root.currentPage === 1) && grid.goToPage($event, ($root.currentPage - 1))">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        <li ng-repeat="i in grid.getRangeArray(grid.startPage, (grid.endPage -1))" ng-class="{'active': $root.currentPage === (i + 1)}">
            <a aria-label="{{'go to page number ' + (i + 1)}}" ng-href="{{$root.currentPage === (i + 1) ? '' : '@Model.PagingURL'.replace('{0}', i + 1)}}"
               ng-click="!($root.currentPage === (i + 1)) && grid.goToPage($event, (i + 1))">
                {{(i + 1)}}
            </a>
        </li>
        <li ng-class="{'disabled': $root.currentPage === grid.pageCount}">
            <a aria-label="go to next page" ng-href="{{$root.currentPage === grid.pageCount ? '' : '@Model.PagingURL'.replace('{0}', $root.currentPage + 1)}}"
               ng-click="!($root.currentPage === grid.pageCount) && grid.goToPage($event, ($root.currentPage + 1))">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li ng-class="{'disabled': $root.currentPage === grid.pageCount}">
            <a aria-label="go to last page" ng-href="{{$root.currentPage === grid.pageCount ? '' : '@Model.PagingURL'.replace('{0}', grid.pageCount)}}"
               ng-click="!($root.currentPage === grid.pageCount) && grid.goToPage($event, grid.pageCount)">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>