@inherits System.Web.Mvc.WebViewPage<RazorCart.AdminConsole.Models.ProductModel>
@using System.Web.Mvc.Html;

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Category: @Model.Category.CategoryName</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" method="post" action="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), "Product", new { StoreID = Model.StoreID, CategoryID = Model.Category.CategoryID })" autocomplete="off">
            @Html.Partial("_CategoryMenu")
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="container-fluid">
                        <div class="row">
                            @if (Model.Submitted)
                            {
                                <div class="alert alert-success alert-dismissable">
                                    <span class="close" data-dismiss="alert" aria-label="close">×</span>
                                    @Model.SaveMessage
                                </div>
                            }
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="btn btn-primary pull-right" href="@Url.Action("AddCatQtyDiscount", "Product", new { StoreID = Model.StoreID, CategoryID = Model.Category.CategoryID })">
                                        <i class="fa fa-plus"></i> Add Category Qty Discount
                                    </a>
                                    <h4>Category Discounts By Quantity</h4>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Qty From</th>
                                                    <th>Qty To</th>
                                                    <th>Discount</th>
                                                    <th>Group</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var discount in Model.CatQtyDiscounts)
                                                {
                                                    <tr>
                                                        <td>@discount.QtyFrom</td>
                                                        <td>@discount.QtyTo</td>
                                                        <td>@string.Format("{0:C}", discount.Price)</td>
                                                        <td>@discount.DiscountGroup</td>
                                                        <td class="text-right">
                                                            <a href="@Url.Action("EditCatQtyDiscount", "Product", new { StoreID = Model.StoreID, CategoryID = Model.Category.CategoryID, QtyDiscountID = discount.QtyDiscountID })"><i class="fa fa-pencil-square-o fa-lg"></i></a>
                                                            <a href="@Url.Action("DeleteCatQtyDiscount", "Product", new { StoreID = Model.StoreID, CategoryID = Model.Category.CategoryID, QtyDiscountID = discount.QtyDiscountID })" onclick="return confirm('Are you sure?')">
                                                                <i class="fa fa-trash-o fa-lg"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                                @if (Model.CatQtyDiscounts.Count < 1)
                                                {
                                                    <tr><td colspan="7">No Category Qty Discounts added.</td></tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <a class="btn btn-default" href="@Url.Action("Category", "Product", new { StoreID = Model.StoreID })">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.form -->
    </div>
</div>
<!-- /.row -->