@inherits System.Web.Mvc.WebViewPage<RazorCart.AdminConsole.Models.ProductModel>
@using System.Web.Mvc.Html;
@using System.Globalization;

<!-- Bootstrap DateTimePicker CSS -->
<link href="@Href("~/DesktopModules/RazorCart/AdminConsole/Styles/bootstrap-datetimepicker.min.css?v=" + Model.ProductVersion)" rel="stylesheet" type="text/css" />
<!-- Select2 CSS -->
<link href="@Href("~/DesktopModules/RazorCart/AdminConsole/Styles/select2.min.css?v=" + Model.ProductVersion)" rel="stylesheet" type="text/css" />
<link href="@Href("~/DesktopModules/RazorCart/AdminConsole/Styles/select2-bootstrap.min.css?v=" + Model.ProductVersion)" rel="stylesheet" type="text/css" />
<!-- Moment JavaScript -->
<script src="@Href("~/DesktopModules/RazorCart/AdminConsole/Scripts/moment.min.js?v=" + Model.ProductVersion)" type="text/javascript"></script>
<!-- Bootstrap DateTimePicker JavaScript -->
<script src="@Href("~/DesktopModules/RazorCart/AdminConsole/Scripts/bootstrap-datetimepicker.min.js?v=" + Model.ProductVersion)" type="text/javascript"></script>
<!-- Select2 JavaScript -->
<script src="@Href("~/DesktopModules/RazorCart/AdminConsole/Scripts/select2.min.js?v=" + Model.ProductVersion)" type="text/javascript"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Product: @Model.Product.ModelName</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" method="post" action="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), "Product", new { StoreID = Model.StoreID, ProductID = Model.Product.ProductID, DiscountID = Model.RoleDiscount.DiscountID })" autocomplete="off">
            @Html.Partial("_ProductMenu")
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="container-fluid">
                        <div class="row">
                            @if (Model.Submitted)
                            {
                                <div class="alert alert-success alert-dismissable">
                                    <span class="close" data-dismiss="alert" aria-label="close">×</span>
                                    @Model.SaveMessage
                                </div>
                            }
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">Where Member</label>
                                        <div class="col-md-6 col-sm-8">
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButton("InvertRole", bool.FalseString, !Model.RoleDiscount.InvertRole, new { }) Is In Role
                                                    <span class="rc-control">
                                                        <i class="rc-icon glyphicon glyphicon-radio" aria-hidden="true"></i>
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    @Html.RadioButton("InvertRole", bool.TrueString, Model.RoleDiscount.InvertRole, new { }) Is Not In Role
                                                    <span class="rc-control">
                                                        <i class="rc-icon glyphicon glyphicon-radio" aria-hidden="true"></i>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">Security Role</label>
                                        <div class="col-md-6 col-sm-8">
                                            @Html.DropDownList("RoleID", Model.PortalRoles, new { @class = "form-control", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">Username</label>
                                        <div class="col-md-6 col-sm-8">
                                            @Html.TextBox("UserName", Model.RoleDiscount.UserName, new { @class = "form-control", @placeholder = "Username" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">Start Date</label>
                                        <div class="col-md-6 col-sm-8">
                                            <div class="input-group date" data-provide="datepicker">
                                                @Html.TextBox("StartDate", Model.RoleDiscount.StartDate > new DateTime(1900, 1, 1) ? Model.RoleDiscount.StartDate.ToString(Model.ShortDateFormat) : string.Empty,
                                                        new { @class = "form-control", @placeholder = "Start Date" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">End Date</label>
                                        <div class="col-md-6 col-sm-8">
                                            <div class="input-group date" data-provide="datepicker">
                                                @Html.TextBox("EndDate", Model.RoleDiscount.EndDate > new DateTime(1900, 1, 1) ? Model.RoleDiscount.EndDate.ToString(Model.ShortDateFormat) : string.Empty,
                                                        new { @class = "form-control", @placeholder = "End Date" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">Discount Percentage</label>
                                        <div class="col-md-6 col-sm-8">
                                            @Html.TextBox("DiscountPercent", Model.RoleDiscount.DiscountPercent.ToString("0.##", CultureInfo.InvariantCulture), new { @class = "form-control", @placeholder = "Discount Percentage", @type = "number", @step = "0.01", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">Discount Amount</label>
                                        <div class="col-md-6 col-sm-8">
                                            @Html.TextBox("DiscountAmount", Model.RoleDiscount.DiscountAmount.ToString("0.##", CultureInfo.InvariantCulture), new { @class = "form-control", @placeholder = "Discount Amount", @type = "number", @step = "0.01", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-4 control-label">Discount Level</label>
                                        <div class="col-md-6 col-sm-8">
                                            @Html.ListBox("DiscountLevel", Model.DiscountVariantList, new { @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Save</button>
                                    <a class="btn btn-default" href="@Url.Action("Discounts", "Product", new { StoreID = Model.StoreID, ProductID = Model.Product.ProductID })">Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.form -->
    </div>
</div>
<!-- /.row -->
<script type="text/javascript">
    $(document).ready(function () {
        // Init DateTime Picker
        $('[data-provide="datepicker"]').datetimepicker({
            format: '@Model.ShortDateFormat.ToUpper()'
        }).find('input[type="text"]').click(function () {
            $(this).closest('[data-provide="datepicker"]').data("DateTimePicker").toggle();
        });
        // Select-2
        $('#DiscountLevel').select2({
            width: '100%',
            theme: 'bootstrap',
            placeholder: "Select a product variant",
            ajax: {
                type: 'POST',
                url: '@Url.Action("ListVariants", "Product", new { StoreID = Model.StoreID, ProductID = Model.Product.ProductID })',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        'search[value]': params.term,
                        'length': 25,
                        'start': 0
                    };
                },
                processResults: function (data, params) {
                    var selected = this.$element.val().map(Number);
                    if (!selected.length)
                        data.data.unshift({ VariantID: -1, VariantGroup: 'Product Level', VariantName: 'No Variant(s)' });
                    return {
                        results: $.map(data.data, function (item) {
                            if ($.inArray(-1, selected) === -1) {
                                if ($.inArray(item.VariantID, selected) === -1) {
                                    return {
                                        id: item.VariantID,
                                        text: item.VariantGroup + ' > ' + item.VariantName
                                    };
                                }
                            }
                        })
                    };
                },
                cache: false
            },
            minimumInputLength: 0,
        });
    });
</script>